---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { getCollection } from astro:content
const blogPosts = await getCollection("blogPosts")
---

{
	blogPosts.map((post)=> (
		<h2>
		<a href={`/community/${post.slug}`}>{post.data.title}</a>
		</h2>
	)
	}


